body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: blueviolet;
    padding: 45px;
}

#hero-title {
    color: whitesmoke;
    font-size: 36px;
}

#hero-subtext {
    color: #d0aaff;
    font-size: 20px;
}


#nike-snkrs {
    margin: 60px 80px;
}

#snkrs-photo {
    display: block;
    margin: 0px auto;
    max-width: 100%;
    height: auto;
}

.btn {
    font-weight: bold;
    font-size: 20px;
    max-width: fit-content;
    padding: 10px 15px;
    background-color: black;
    color: blueviolet;
    border: none;
    border-radius: 4px;
    margin: 10px 5px 10px 0px;

}

.btn.fi {
    background-color: blueviolet;
    color: white;
}

.btn.lf {
    background-color:  rgb(216, 189, 221);
    color: blueviolet;
}

#c-punks {
    background-color: blueviolet;
    padding: 60px 80px;
    color: white;
}

.t-c-img{
    display: flex;
    justify-content: center;

}

